.Entete {
	width: calc(100% - 350px);
    /*width: auto;*/
	height: 100px;
	/*background-color: yellow;*/
	float: left;
	padding-left: 50px;
	overflow: hidden;
	font-size: 25px;
	font-family: 'Allerta Stencil';
	font-weight: bold;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
	
}

#authError {
    color: #ED9887;
}

.Entete h1 {
    margin: 0px;
}

.Entete h4 {
    margin: 0px;
}

.Infos_user {
	background-color: rgba(0,0,0,0.8);
	width: 300px;
	height: 100px;
	float: right;
	
}

html {
    height: 100%;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    height: 100%;
    margin: 0px;
    color: white;
    background: url(background.jpg) no-repeat center center fixed; 
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contenu {
    height: 100%;
    
   /* background-color: orange;*/
}

.Colonne_categ {
	width: 200px;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	float: left;
   /* display: inline-block;*/
}

#choixMagContainer {
    position: absolute;
    width: 100%;
    padding-top: 225px;
}

#choixMagBanner {
    background-color: rgba(10,10,10,1);
    
}

#choixMagCenter h1 {
    font-size: 50px;
	font-family: 'Allerta Stencil';
	font-weight: bold;
	
}

#choixMagCenter ul {
    padding: 0px;
}

#choixMagCenter li {
    list-style-type: none;
    
    margin: 0px;
    padding: 0px;
   
    text-align: center;
    transition: background 0.2s;
    text-decoration: none;
    list-style-type: none;
    color: white;
}

#choixMagCenter a {
   /*margin: 10px;*/
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    text-decoration: none;
    color: white;
}

.aBtn {
     padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
   /* display: block;*/
    text-decoration: none;
    color: white;
    background-color: #BF3115;
}

.aBtn:visited {
    color: white;
    text-decoration: none;
}

.aBtn:hover {
    color: white;
    text-align: center;
    transition: background 0.2s;
    background-color: #BF3115;
    list-style-type: none;
    text-decoration: none;
    background-color: #4E49B3;
}

#choixMagCenter a:visited {
    color: white;
    text-decoration: none;
}

#choixMagCenter a:hover {
    color: white;
    text-align: center;
    transition: background 0.2s;
    background-color: #BF3115;
    list-style-type: none;
    text-decoration: none;
}

#liTousLesProduits:hover {
    background-color: #4E49B3;
}

#choixMagCenter {
    text-align: center;
    /*display: inline-block;*/
    
    width: 400px;
    margin-left: calc(50% - 200px);
    padding-bottom: 10px;
}

.Colonne_categ ul {
    padding: 0px;
}

.Colonne_categ h2 {
    text-align: center;
}

.Colonne_categ li {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    transition: background 0.2s;
    background-color: rgba(0,0,0,0);
    list-style-type: none;
}

.Colonne_categ li:hover {
    text-align: center;
    transition: background 0.2s;
    background-color: #BF3115;
    list-style-type: none;
}

.Colonne_categ a {
    display: block;
    text-decoration: none;
    color: white;
}

.Colonne_categ a:hover {
    color: white;
}

.Colonne_categ a:visited {
    color: white;
}

.Zone_produits {
	margin-left: 220px;
   padding-bottom: 50px;
	background-color: rgba(0,0,0,0.8);
	/*display: inline-block;*/
}

.Zone_produits .ListeProduits_desc {
    transition: background 0.2s;
    width: 100%;
}

.Zone_produits .ListeProduits_desc a {
    text-decoration: none;
    color: white;
}

.Zone_produits .ListeProduits_desc a:hover {
    text-decoration: underline;
    
}

.Zone_produits .ListeProduits_desc:hover {
    transition: background 0.2s;
    background-color: #BF3115;
}

header {
  	overflow: hidden;
	display: inline-block;
	width: 100%;
	margin-top: 0%;
	margin-bottom: 0%;
	color:white;
}

img {
  vertical-align:middle;
}