.Entete {
/*	width: calc(100% - 300px);*/
    width: auto;
	height: 100px;
	background-color: yellow;
	/*float: left;*/
	
	overflow: hidden;
}

.Infos_user {
	background-color: grey;
	width: 300px;
	height: 100px;
	float: right;
	
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
}

#contenu {
    height: 100%;
    
    background-color: orange;
}

.Colonne_categ {
	width: 200px;
	height: 100%;
	background-color: blue;
	float: left;
   /* display: inline-block;*/
}

.Zone_produits {
	
   
	background-color: red;
	/*display: inline-block;*/
}


header {
  	overflow: hidden;
	display: inline-block;
	width: 100%;
	margin-top: 0%;
	margin-bottom: 0%;
	color:white;
}
